@import "materialize";

#new-button {
  align-items: center;
  align-content: center;
}

a.link-to-text-color {
  color: white;
}

#habit-items {
  height: 50%;
}

.input-field {
  background-color: black;
  height: 500px; 
}
