<h2>All My Habits</h2>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <br />
      <div id="habit-items" class="waves-effect waves-light cyan darken-4 btn">
        <i class="material-icons">check</i>
        <%= link_to habit.description, habit_path(habit), class: 'link-to-text-color' %>
      </div>
      <br />
    </li>
  <% end %>
</ul>
